@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #fff;
  background-color: black;
}

body {
  color: #fff;
  background-color: black;
}

.title {
  transform: rotate(270deg);
}
