@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #fff;
  background-color: black;
}
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  color: #fff;
  background-color: black;
  /* color: #c4c4c44f; */
}

::-webkit-scrollbar {
  width: 7px;
  scrollbar-color: white;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
  border: 1px solid #6c6c6c;
}

::selection {
  color: white;
  background: #000;
}

.progress-bar::-webkit-progress-value {
  background-color: #d5a02c;
}
